files: patterns/
exclude: ^(.venv)$
repos:
  - repo: 'https://github.com/ambv/black'
    rev: 18.6b4
    hooks:
      - id: black
        args:
          - '--safe'
          - '--quiet'
          - '--line-length=120'
        language_version: python3.8
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v1.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: flake8
        args: ['--max-line-length=120']
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: detect-private-key
      - id: requirements-txt-fixer
  -   repo: https://github.com/pre-commit/mirrors-isort
      rev: '45886b75933e6460aa4883fc9b93452528d4384b'
      hooks:
      -   id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.902
    hooks:
    -   id: mypy
        args: []
